<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sample Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="mystyles.css">
</head>

<body style="background-color:skyblue;">
    <style> body { border: solid 5px; color:navy;} </style>
    </head>
    <div class='header'>
        <div class='nav'>

            <div class="topnav">
                <a class="active" href="#home">Homepage</a>
                <a href="About">About</a>
                <a href="vis1">Vis1</a>
                <a href="vis2">Vis2</a>
                <a href="vis3">Vis3</a>
                <a href="vis4">Vis4</a>
                <a href="vis5">Vis5</a>
                <a href="vis6">Vis6</a>
            </div>

        </div>
        <div class='text'>
            <div class='tagline content'>
                <h2 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center><b>Welcome to our 'About' page!</b></center></h2>
                <h4 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>________________________________________</center></h4>
                <h2 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center><b>About our project:</b></center></h2>
                <h4 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>After using PCA to consolidate the dimensionality of our data set, </center></h4>
                <h4 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>we were ready to explore the data and make some visualizations.</center></h4>
                <h4 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>Using outcomes of COVID cases and deaths, we looked at the individual</center></h4>
                <h4 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>distributions of these variables across different states, as well as</center></h4>
                <h4 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>the breakdown between COVID cases and deaths by state.</center></h4>
                <h4 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>***</center></h4>
                <h4 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>We also looked at the impacts of other factors on deaths and cases, such</center></h4>
                <h4 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>as available ICU beds and vaccines administered in each state.</center></h4>
                <h4 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>________________________________________</center></h4>
                <h3 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center><b>How to use this app:</b></center></h3>
                <h4 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>Click on the "Vis" tabs to view each visualization.</center></h4>
                <h4 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>Our visualizations are interactive!</center></h4>
                <h4 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>Click on the features on each graph to play with the data!</center></h4>
                <h4 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>________________________________________</center></h4>
                <h3 style="color:navy", style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center><b>Learn more about our Data Source:</b></center></h3>
                <center><a href="https://covidactnow.org/data-api">Covid Act Now API</a></center>
                <center><a href="https://apidocs.covidactnow.org/#data-endpoints">Data Endpoints</a></center>
                <center><a href="https://apidocs.covidactnow.org/data-definitions/">Data Definitions</a></center>
            </div>
            <div class='desc'>
            </div>
        </div>
    </div>

    <!-- Put embedded link to Tableau plots or images here -->

</body>

</html>